body {
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #323235;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(223, 217, 217, 0.1);
    height: 4.5rem;
    padding: 0 20px;
    margin-bottom: 20px;
}

.header-title {
    font-size: 2.3rem;
    font-weight: bold;
}

.card {
    border-radius: 0.75rem;
}

.card.shadow-sm {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.card-title {
    font-size: 1.8rem;
    font-weight: bold;
}

.card-title .material-icons {
    font-size: 1.8rem;
    margin-bottom: -5px;
}

.form-icon {
    font-size: 1.5rem;
    margin-right: 10px;
    color: #6c757d;
}

.minimal-input {
    border: none;
    border-bottom: 2px solid #ced4da;
    border-radius: 0;
    outline: none;
    box-shadow: none;
    padding: 0.5rem 0.75rem;
}

.minimal-input:focus {
    border-color: #007bff;
    box-shadow: none;
}

.custom-file-label::after {
    content: "Browse";
}

.contact-tile {
    background-color: #fff;
    border: 1px solid #e2e8f0;
    border-radius: 0.75rem;
    padding: 0.60rem; /* Adjusted padding */
    margin-bottom: 1rem;
    text-align: center;
    font-size: 0.9rem; /* Reduced font size */
}

.contact-tile img {
    width: 4rem; /* Reduced image size */
    height: 4rem; /* Reduced image size */
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 0.5rem;
}

.contact-tile .contact-name {
    font-size: 1rem; /* Reduced font size */
    font-weight: bold;
}

.contact-tile .contact-phone {
    color: #6c757d;
}

.img-thumbnail {
    width: 60px; /* Reduced thumbnail size */
    height: 60px; /* Reduced thumbnail size */
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
}

@media (max-width: 576px) {
    .contact-tile img {
        width: 3rem; /* Further reduced image size for small screens */
        height: 3rem; /* Further reduced image size for small screens */
    }

    .contact-tile .contact-name {
        font-size: 0.875rem; /* Reduced font size for small screens */
    }

    .contact-tile .contact-phone {
        font-size: 0.75rem; /* Reduced font size for small screens */
    }
}


/* Add transitions for the contact details */
.contact-details {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
    opacity: 0;
}

.contact-details.show {
    max-height: 100px; /* Adjust based on the content height */
    opacity: 1;
}
